@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    color: white;
}

main {
    background: #202040; /* Dark Indigo background for a deep feel */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    display: flex;
    width: 235px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#header .player {
    background: #1F1A38; /* Deep purple background for player boxes */
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    border: solid 4px #1F1A38;
    opacity: 0.5;
    transition: 0.3s;
}

#header .player:hover {
    border: solid 4px #483D8B; /* Soft indigo border on hover */
}

#header .player-active {
    opacity: 1;
    border: solid 4px #483D8B; /* Brighter indigo for active player */
}

#header #xPlayerDisplay {
    color: #E63946; /* Bright Red for X */
}

#header #oPlayerDisplay {
    color: #F4A261; /* Vibrant Orange for O */
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 12px;
}

#board .cell {
    background: #1F1A38; /* Matching deep purple for board cells */
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s background;
}

#board .cell:hover {
    background: #483D8B; /* Highlight cells with a soft indigo hover effect */
}

#restartBtn {
    margin-top: 30px;
    width: 235px;
    background: #E63946; /* Bright Red for Restart button */
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s background;
    visibility: hidden;
}

#restartBtn:hover {
    background: #F4A261; /* Hovering the button will change it to vibrant orange */
}
